<div class="modal fade" id="ver-masModal" tabindex="-1" aria-labelledby="ver-masModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ver-masModalLabel">Detalles</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" *ngIf="pais !== undefined">
        <img src={{pais.flags.png}} alt="bandera" class="img-fluid border border-secondary">
        <h5>{{pais.name.common}}</h5>
        <p>Población: {{pais.population | number}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
